nav a {
  color: crimson;
  font-size: 20px;
}

nav a:hover{
    opacity: 20%;
}
h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: large;
  font-weight: bolder;
  color: darkcyan;
  font-size: 50px;
  align-self: center;
}

body {
  background-image: url(assets/images/about_background.jpg);
  background-repeat: repeat;
  background-size: cover;
}

footer {
  color: bisque;
  font-size: 20px;
  text-align: end;
}

main p {
  color: blanchedalmond;
  font-size: 25px;
  text-align: start;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
