body {
  background-color: azure;
  padding: 200px;
  align-content: space-between;
  background-color: bisque;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: url(assets/images/dark\ forest\ landscape.jpg);
}

main p {
  font-size: 75px;
  font-weight: bold;
  align-self: stretch;
  padding-bottom: 100px;
  color: burlywood;
}

nav {
  color: black;
  padding-left: 20px;
}

nav a {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #000;
}

nav a:hover {
  opacity: 20%;
  border-radius: 20px;
}

section {
  padding-top: 30px;
}

section a:hover {
  opacity: 20%;
}
footer p {
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  color: #000;
}
footer {
  padding-top: 175px;
}
