body {
  padding: 200px;
  align-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: url(assets/images/dark\ forest\ landscape.jpg);
}
h2 {
  font-size: 80px;
  color: burlywood;
}
main p {
  font-size: 75px;
  font-weight: bold;
  align-self: stretch;
  padding-bottom: 100px;
  color: burlywood;
}

li a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  font-size: 50px;
  color: #000;
}

li a:hover {
  opacity: 10%;
}

footer p {
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  color: #000;
}
