body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  background-color: #e5deca;
}

.pics:hover {
  opacity: 50%;
  border-radius: 10px;
  image-rendering: optimizeQuality;
  border-radius: 20px;
}

.image:hover {
  opacity: 50%;
  border-radius: 10px;
  image-rendering: optimizeQuality;
}

header {
  background-color: #000;
  color: #b20d30;
  padding: 40px;
  border-radius: 10px;
  background-image: url(assets/images/man_pigeon.jpg);
  background-size: fill;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
  color: #000;
}
h2 {
  margin-top: 0;
}

a {
  color: #ab2346;
  text-decoration: none;
}

a:hover {
  color: #333;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}
