body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ab92bf;
  font-size: 30px;
  background-color: #121212;
  background-image: url(assets/images/background12.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  color: #ffdb58;
  text-align: center;
}

h2 {
  color: #fff;
  padding: 60px;
  text-align: left;
}

header {
  background-color: #000;
  color: #b20d30;
  padding: 60px;
  border-radius: 10px;
  background-image: url(assets/images/man_pigeon.jpg);
  background-size: fill;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}
video {
  border-radius: 20px;
}
